<main class="container main-jugar" style="background-color: @ViewBag.DataCategoria.Fondo">

<form action='@Url.Action("VerificarRespuesta")' method="post" class="formulario">

  <div class="titulo-cat">
            <p style = "color: @ViewBag.DataCategoria.Color">@ViewBag.DataCategoria.Nombre</p>
        </div>
  <div class="padre-jugar" style="background-color: @ViewBag.DataCategoria.Color">
        <div class="cont-preguntas">
    <p class="p-jugarr">Preguntas restantes: @(ViewBag.CantidadPreguntas - ViewBag.CantidadPreguntasRespondidas)</p>
</div>
        <div class="ptrgunta">
                <div class="div-pregunta">
                    <p>@ViewBag.pregunta.Enunciado</p>                
                </div>
                <div class="img-jugar">
                <img src="/img/@ViewBag.DataCategoria.Foto">
              </div>
          </div>

      

        
<input type="hidden" name="idPregunta" value="@ViewBag.pregunta.IdPregunta">
      <div class="botones">
      @foreach (Respuestas item in ViewBag.Respuestas)
      {
        <button id="bottone1" type="submit" name="IdRespuesta" value="@item.IdRespuesta"><strong>@item.Contenido</strong>  </button>
      }
  </div>
  </div>

</form>
</main>
